<div class="offcanvas-header ai-detail-header">
	<app-ai-edit-toolbar [canEdit]="canEdit"
		[editMode]="editMode"
		[saving]="saving"
		(edit)="startEdit()"
		(cancel)="cancelEdit()"
		(save)="saveChanges()"
		title="AI Pillar Details">
	</app-ai-edit-toolbar>
	<button type="button"
		class="btn-close text-reset"
		data-bs-dismiss="offcanvas"></button>
</div>

<div class="ai-edit-access-banner" *ngIf="isAnalyst && editAccess">
	<p>{{ editAccess.message }}</p>
	<button *ngIf="editAccess.hasPendingDraft && editAccess.sessionID"
		type="button"
		class="common_button"
		[disabled]="submitting"
		(click)="submitDraft()">
		Submit all drafts for admin approval
	</button>
</div>

<ng-container>
	<div [class.ai-edit-surface]="editMode"
		class="cross-pillar_outter">
		<div class="integrate_outter">
			<div class="integrate_list">
				<table class="kpi_custom_table">
					<thead>
						<tr>
							<th scope="col">AI Confidence</th>
							<th scope="col">AI Score</th>
							<th scope="col">Evaluator Score</th>
							<th scope="col">Discrepancy</th>
							<th scope="col">Average Score</th>
						</tr>
					</thead>
					<tbody>
						<tr class="last_data">
							<td>
								<app-ai-editable-field [editMode]="editMode"
									[showLabel]="false"
									[value]="getFieldValue('confidenceLevel')"
									(valueChange)="setFieldValue('confidenceLevel', $event)"
									fieldType="confidence">
								</app-ai-editable-field>
							</td>
							<td>
								<app-circular-score [value]="pillar?.aiProgress ?? 0"></app-circular-score>
							</td>
							<td>
								<app-circular-score [value]="pillar?.evaluatorScore ?? 0"></app-circular-score>
							</td>
							<td>
								<app-sparkline-score [value]="editMode ? discrepancy : (pillar?.discrepancy ?? 0)"></app-sparkline-score>
							</td>
							<td>
								<app-circular-score [value]="editMode ? averageScore : (((pillar?.aiProgress ?? 0) + (pillar?.evaluatorScore ?? 0)) / 2)"></app-circular-score>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


			<div *ngFor="let field of textFields"
				[hidden]="!shouldShowField(field)"
				class="cross-pillar">
				<h5>{{ field.label }}</h5>
				<app-ai-editable-field [label]="field.label"
					[showLabel]="false"
					[editMode]="editMode"
					[fieldType]="field.type"
					[hideAfterWords]="20"
					[value]="getFieldValue(field.key)"
					(valueChange)="setFieldValue(field.key, $event)">
				</app-ai-editable-field>
			</div>
		</div>
	</div>


	<div [class.ai-edit-surface]="editMode"
		class="cus_table kpi_table">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Source Type</th>
						<th scope="col">Source Name</th>
						<th scope="col">Trust Level</th>
						<th scope="col">Data Year</th>
						<th scope="col">Data Extract</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let s of pillar?.dataSourceCitations">
						<td>
							<app-ai-editable-field [showLabel]="false"
								[editMode]="editMode"
								[value]="getCitationValue(s.citationID, 'sourceType')"
								(valueChange)="setCitationValue(s.citationID, 'sourceType', $event)"
								fieldType="text">
							</app-ai-editable-field>
						</td>
						<td [matTooltip]="editMode ? '' : 'Go to link'">
							<app-ai-editable-field *ngIf="editMode; else sourceLink"
								[showLabel]="false"
								[editMode]="true"
								[value]="getCitationValue(s.citationID, 'sourceName')"
								(valueChange)="setCitationValue(s.citationID, 'sourceName', $event)"
								fieldType="text">
							</app-ai-editable-field>
							<ng-template #sourceLink>
								<a [href]="s?.sourceURL"
									target="_blank">
									{{ s?.sourceName ?? "" }}
								</a>
							</ng-template>
							<app-ai-editable-field *ngIf="editMode"
								[showLabel]="false"
								[editMode]="true"
								[value]="getCitationValue(s.citationID, 'sourceURL')"
								(valueChange)="setCitationValue(s.citationID, 'sourceURL', $event)"
								label="Source URL"
								fieldType="text">
							</app-ai-editable-field>
						</td>
						<td [matTooltip]="getLabelDesById(s?.trustLevel ?? 0)">
							<app-ai-editable-field [showLabel]="false"
								[editMode]="editMode"
								[trustLevels]="aiTrustLevels ?? []"
								[value]="getCitationValue(s.citationID, 'trustLevel')"
								(valueChange)="setCitationValue(s.citationID, 'trustLevel', $event)"
								fieldType="trust">
							</app-ai-editable-field>
						</td>
						<td>
							<app-ai-editable-field [showLabel]="false"
								[editMode]="editMode"
								[value]="getCitationValue(s.citationID, 'dataYear')"
								(valueChange)="setCitationValue(s.citationID, 'dataYear', $event)"
								fieldType="number" [max]="currentYear" [step]="0">
							</app-ai-editable-field>
						</td>
						<td>
							<app-ai-editable-field [showLabel]="false"
								[editMode]="editMode"
								[compact]="true"
								[value]="getCitationValue(s.citationID, 'dataExtract')"
								(valueChange)="setCitationValue(s.citationID, 'dataExtract', $event)"
								fieldType="textarea">
							</app-ai-editable-field>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</ng-container>