
.form-control:focus {
    border-color: #e4e4e4 !important;
    box-shadow: none !important;
}

.error-msg {
  color: red;
  font-size: 12px;
  margin-top: 2px;
}


input[type="password"]::-ms-reveal,
      input[type="password"]::-ms-clear {
        display: none;
      }
      .input_field {
    margin-bottom: 15px !important;
}